
body {
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #ffffff;
      margin: 0;
      padding: 20px;
    }
    h1{
          color: #f2f2f2;
          text-align:center;
          background-color: #fd0000;
          border-radius: 5px;
    }
   
   .h2{
     display: flex;
     justify-content:center;
          
   }
    a{
     font-weight: 800;
        }
    .boton {
          display: inline-block;
          padding: 7px 20px;
          background-color: #755252;
          color: #beb8b8;
          text-decoration: none;
          border-radius: 20px;
          transition: all 0.9s ease-in-out;
          
    }

    .bt1{
      display: inline-block;
      padding: 7px 20px;
      color: #533e3e;
      text-decoration: none;
      border-radius: 0px;
      transition: all 0.9s ease-in-out;
    }
      
    /* estilos para los formularios */
    input {
          width: 80%;
          padding: 15px;
          font-size: 20px;
          margin-bottom: 5px;
          border-radius: 5px;
          border: 1px solid #ccc;
    }
    #resp {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          max-width: 90%;
          margin: 0 auto;
          color:#000000;
          font-weight: 900;
          border-radius: 10px;
          padding: 20px;
     }
    
     #resp2 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          max-width: 90%;
          margin: 0 auto;
          color:#000000;
          font-weight: 900;
          border-radius: 10px;
          padding: 20px;
     }
     #resp3 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          max-width: 90%;
          margin: 0 auto;
          color:#000000;
          font-weight: 900;
          border-radius: 10px;
          padding: 20px;
     }
    
     #resp4 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          max-width: 90%;
          margin: 0 auto;
          color:#8f6363;
          font-weight: 900;
          border-radius: 10px;
          padding: 20px;
     }
     #resp5 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          max-width: 90%;
          margin: 0 auto;
          color:#000000;
          font-weight: 900;
          border-radius: 10px;
          padding: 20px;
     }
    
    .botones{
          display: flex;
          justify-content:center;
          gap: 10px;
          margin-bottom: 5px;
         
    }  
    
#resp {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 90%;
      margin: 0 auto;
      color:#000000;
      font-weight: 900;
      border-radius: 10px;
      padding: 20px;
 }

 #resp2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 90%;
      margin: 0 auto;
      color:#000000;
      font-weight: 900;
      border-radius: 10px;
      padding: 20px;
 }
 #resp3 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 90%;
      margin: 0 auto;
      color:#000000;
      font-weight: 900;
      border-radius: 10px;
      padding: 20px;
 }

 #resp4 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 90%;
      margin: 0 auto;
      color:#000000;
      font-weight: 900;
      border-radius: 10px;
      padding: 20px;
 }
 #resp5 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 90%;
      margin: 0 auto;
      color:#000000;
      font-weight: 900;
      border-radius: 10px;
      padding: 20px;
 }




 .cantaner {
      border: 1px solid #a79999;
      padding: 1px;
      width: 230px;
      display: flex;
      box-shadow: 0 10px 10px rgba(51, 18, 18, 0.5);
      max-height: 90px;
      
  }
 
  .bt1 {
      flex-grow: 1;
      text-align: center;
      text-decoration: none;
      color: #333;
  }
  img {
      max-width: 100px;
      height: auto;
      margin-right: 10px;
  }
  .agrupar{
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 10px;
    
  }
  